body {
  font-family: Arial;
  font-size: 120%;
}
h1 {
  color: crimson;
}

a {
  color: crimson;
  transition: color 0.1s;
  text-decoration: none;
  
}

a:hover {
  color: rgb(226, 108, 132);
}


.choices button {
  display: block;
}

button {
  display: inline-block;
  margin: 5px;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 100%;
  background-color: crimson;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.1s;
}

button:hover {
  background-color: rgb(226, 108, 132);
}


input[type="text"] {
  font-size: 100%;
}
body {
  font-family: Arial;
  font-size: 120%;
}
h1 {
  color: crimson;
}

a {
  color: crimson;
  transition: color 0.1s;
  text-decoration: none;
  
}

a:hover {
  color: rgb(226, 108, 132);
}


.choices button {
  display: block;
}

button {
  display: inline-block;
  margin: 5px;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 100%;
  background-color: crimson;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.1s;
}

button:hover {
  background-color: rgb(226, 108, 132);
}


input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.container {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  
  color: gray;
  border-top: 2px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
